.principal{
    background-image: url(../Imagenes/basico.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    background-color: rgb(205, 225, 222);
    border-color: black;
    border-radius: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 150;
}
